#lesson-content .page-content .lesson-content-wrapper table tbody tr td { 
    border: 0px;
    color:#000;
}

#lesson-content .page-content .lesson-content-wrapper table tbody tr td p{ 
    color:#000;
}